canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  min-height: -webkit-fill-available;
  
}

body,
html {
  min-height: -webkit-fill-available;
  background-color: #191919;
  background: #191919;
  overflow-x: hidden;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  min-height: -webkit-fill-available;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2 {
  background: linear-gradient(45deg, #f3ec78, #af4261);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1.my-name {
  background: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2.about-me {
  background: linear-gradient(-225deg, #20e2d7 0%, #f9fea5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2.my-projects {
  background: linear-gradient(-225deg, #2cd8d5 0%, #6b8dd6 48%, #8e37d7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2.work-history {
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2.reach-me {
  background: linear-gradient(135deg, #c471f5 0%, #fa71cd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;

}

h3.projects{
  font-size:large;
  
}

a.projects {
  color: white;
}
a.projects:link {
  background: linear-gradient(-225deg, #2cd8d5 0%, #6b8dd6 48%, #8e37d7 100%);
  border-radius: 25px;
  padding: 11px;
  text-decoration: none;
  color: white;
  font-weight:normal
}

a.projects:hover {
  border-style: solid;
  border-color: #ffffff;
}

a.reach-me {
  color: white;
}

a.reach-me:link {
  padding-right: 1.5em;
}

header {
  background: #282828fb;
  border-radius: 15px 15px 15px 15px;
  grid-column: 2 / span 5;
  font-size: 2rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  border-radius: 15px 15px 15px 15px;
  grid-column: 2 / 8;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

.section-background1 {
  background: #282828fb;
}

.section-background2 {
  background: #282828fb;
}

.section-background3 {
  background: #282828fb;
}

.section-background4 {
  background: #282828fb;
  grid-column: 2 / span 3;
}

.left {
  grid-column: 6 / 12;
}

@media only screen and (max-width: 768px) {
  header {
    grid-column: 1 / span 11;
    font-size: 1.3rem;
    margin-bottom: 150px;
  }
  section {
    grid-column: 1 / span 11;
    margin-bottom: 150px;
  }
  main {
    padding-left: 1.5%;
  }
  .section-background4 {
    grid-column: 1 / span 11;
  }
}

/* tryring to get a preloader working*/
